<form action="{{ url_for('signup')}}" method="post">
    <label for="firstname">Full Name:</label>
    <input type="text" id="fullname" name="fname" placeholder="fullname">

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="email">

    <label for="password">Password</label>
    <input type="text" id="pword" name="pword" placeholder="password">

    <label for="phone number">Phone Number:</label>
    <input type="text" id="phone_num" name="phone_number" placeholder="phone_number">

    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender" placeholder="gender">

    <label for="physical interests">Sports Preference:</label>
    <input type="text" id="phys_interest" name="physical_interest" placeholder="phys_interest">

    <label for="workout_times">Workout Times:</label>
    <input type="text" id="workout_time" name="workout_time" placeholder="workout_time">

    <label for="location">Gym Locations:</label>
    <input type="text" id="gym_loc" name="gym_location" placeholder="gym_loc">

    <label for="profile picture">Profile Picture:</label>
    <input type="text" id="profile_pic" name="profile_pic" placeholder="profile_pic">


    <button type="submit">Sign Up</button>